* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a365d; 
    height: 100vh;
    background-image: 
    radial-gradient(at 0% 0%, hsla(210, 100%, 20%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 0%, hsla(220, 80%, 40%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(190, 70%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 100%, hsla(230, 60%, 30%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(200, 90%, 45%, 1) 0px, transparent 50%);
  background-attachment: fixed;
    
}

.container {
    background-color: #1f6fb2;
    position: absolute;
    top: 25%;
    left: 45%;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    
}

form {
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 20px;
    color: white;

}

.input-group {
    text-align: center;
    margin-top: 15px;
   
}

.input-group input {
    border-radius: 4px;
    width: 200px;
    height: 30px;
    box-shadow: none;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.input-group input:hover {
     transform: translateY(-1px);
     box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.input-group input::placeholder {
    color: black;
    padding-left: 10px;
}

.material-symbols-outlined {
    position: absolute;
    transform: translate(-140%, 20%);
    width: 20px;
    height: 10px;
    color: white;
}

button {
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-top: 20px;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 9px;
    transition: all 0.25s ease;
    cursor: pointer;
}

button:hover {
    background: #195e96;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.redirect{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}

.create{
    text-align: center;
    
}

.create a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bolder;
    transition: all 0.3s ease

}

.create a:hover {
    color: white;
}

