* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a365d; 
    height: 100vh;
    background-image: 
    radial-gradient(at 0% 0%, hsla(210, 100%, 20%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 0%, hsla(220, 80%, 40%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(190, 70%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 100%, hsla(230, 60%, 30%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(200, 90%, 45%, 1) 0px, transparent 50%);
  background-attachment: fixed;
}

.container{
    background-color: #1f6fb2;
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.685);
}

.container h2 {
    color: white;
    padding-top: 20px;
}

.container button {
    width: 300px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 8px;
    
    
}

#updUser {
    background-color: #2d99f1;
    margin-top: 20px;
}

#updUser:hover {
    transform: translateY(-2px);
    background-color: #298bdb;
    cursor: pointer;

}

#delUser {
    background-color: rgb(233, 21, 21);
}

#delUser:hover {
    transform: translateY(-2px);
    background-color: rgb(185, 15, 15);
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: rgb(211, 210, 210);
}

